API_PORT=8080
# db credentials
DB_USER=admin
DB_PASSWORD=benchwarmers55
DB_NAME=score

VITE_AUTH0_DOMAIN=
VITE_AUTH0_CLIENT_ID=
VITE_AUTH0_AUDIENCE=

AUTH0_DOMAIN=
AUTH0_AUDIENCE=

# Duffel API
DUFFEL_API_TOKEN=

